﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Help.aspx.cs" Inherits="Help" %>
<asp:Content ContentPlaceHolderID="Head" ID="Header" runat="server"></asp:Content>
<asp:Content ContentPlaceHolderID="Body" ID="PageBody" runat="server"></asp:Content>