﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ManagerPage.aspx.cs" Inherits="ManagerPage" %>
<asp:Content ContentPlaceHolderID="Head" ID="Header" runat="server"></asp:Content>
<asp:Content ContentPlaceHolderID="Body" ID="PageBody" runat="server"></asp:Content>