﻿<a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">lorem ipsum</h4>
    <p class="list-group-item-text">Copy lets you split the bill with shared folders. So a 20 GB folder synced between 4 people only counts as 5 GB per person. We call that "Fair Storage." </p>
</a>