﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Test.aspx.cs" Inherits="Test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>aaa</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        aaa
    </div>
    </form>
</body>
</html>
